/*-- scss:defaults --*/
// Base document colors
$body-bg: #2a2a2a;
$body-color: white;
$link-color: #eff876;

// Code blocks
// $code-block-bg-alpha: -.8;

// $code-color: #47e534;

// $navbar-bg: black;
// $navbar-fg: rgb(255, 92, 92);

